[Unit]
Description = Sensor WoT
After = network.target

[Service]
#PermissionsStartOnly = true
PIDFile = /run/sensor_wot/sensor_wot.pid
User = root
Group = root
WorkingDirectory = /root/sensor
ExecStartPre = /usr/bin/mkdir /run/sensor_wot
ExecStartPre = /usr/bin/chown -R root:root /run/sensor_wot
ExecStart = /usr/bin/env gunicorn sensor.wsgi:application -b [::]:8002 --pid /run/sensor_wot/sensor_wot.pid
ExecReload = /usr/bin/kill -s HUP $MAINPID
ExecStop = /usr/bin/kill -s TERM $MAINPID
ExecStopPost = /usr/bin/rm -rf /run/sensor_wot
PrivateTmp = true

[Install]
WantedBy = multi-user.target
