{% load i18n %}
{% load is_admin %}
{% load is_mod %}

<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'frontend-alerts' %}"><span data-feather="alert-triangle"></span>{% trans 'Alarms' %}</a>
        </li>
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'frontend-user' %}"><span data-feather="activity"></span>{% trans 'Panel' %}</a>
            </li>
        {% endif %}
        {% if user.is_authenticated %}
            {% if request.user|is_admin %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'frontend-admin' %}"><span data-feather="globe"></span>{% trans 'Admin' %}</a>
                </li>
            {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
            {% if request.user|is_mod %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'frontend-mod' %}"><span data-feather="home"></span>{% trans 'Mod' %}</a>
                </li>
            {% endif %}
        {% endif %}
        </ul>
    </div>
</nav>
