{% extends 'frontend/user_panel.html' %}

{% block content %}
  <div class="col content-menu-margin">
    <table class="table">
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>Typ</th>
          <th>Adres</th>
        </tr>
      <thead>
      <tbody>
        {% for item in devices %}
          <td><a href="{% url 'worker_index' identyficator=item.id %}">{{ item.device_name }}</a></td>
          <td>{{ item.device_type }}</td>
          <td>{{ item.device_address }}</td>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

.values('device_name')
