{% extends 'frontend/user_panel.html' %}

{% block content %}
  <div class="col content-menu-margin">
    <table class="table">
      <thead>
        <tr>
          <th>Utworzono</th>
          <th>Stan</th>
          <th>Adres</th>
        </tr>
      </thead>
      <tbody>
        {% for value in available_values %}
          <tr>
            <td>{{ value.1 }}</td>
            <td>{{ value.0 }}</td>
            <td>{{ address }}{{ name }}/{{ val }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
