{% extends 'frontend/user_panel.html' %}

{% block content %}
  <div class="col content-menu-margin">
    <table class="table">
      <thead>
        <tr>
          <th>Nazwa</th>
          <th>
		    <button class="btn btn-outline-primary" data-toggle="collapse" data-target="#collapseColumn" aria-expanded="true" aria-controls="collapseColumn">
			  Adres
			</button>
		  </th>
        </tr>
      </thead>
      <tbody>
        {% for item in available_urls %}
          <td><a href="{% url 'device_single_sensor' identyficator=identyficator name=name value=item %}">{{ item }}</a></td>
          <td class="collapse" id="collapseColumn">{{ address }}{{ name }}</td>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
