{% extends 'frontend/user_panel.html' %}

{% load conv_date %}
{% load add_units %}

{% block content %}
  <div class="col content-menu-margin">
    <table class="table">
      <thead>
        <tr>
          <th>Utworzono</th>
          <th>Wartość</th>
          <th>
		    <button class="btn btn-outline-primary" data-toggle="collapse" data-target="#collapseColumn" aria-expanded="true" aria-controls="collapseColumn">
			  Adres
			</button>
		  </th>
        </tr>
      </thead>
      <tbody>
        {% for value in available_values %}
          <tr>
            <td>{{ value.1|conv_date }}</td>
            <td>{{ value.0|add_units:name }}</td>
            <td class="collapse" id="collapseColumn">{{ address }}{{ name }}/{{ val }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
