{% extends 'panels/user_panel.html' %}

{% load i18n %}

{% load modify_name %}

{% block content %}
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>{% trans 'SensType' %}</th>
          <th>
		    <button class="btn btn-outline-primary" data-toggle="collapse" data-target="#collapseColumn" aria-expanded="true" aria-controls="collapseColumn">
			  {% trans 'SensAddr' %}
			</button>
		  </th>
        </tr>
      </thead>
      <tbody>
        {% for item in available_urls %}
          <tr>
            <td><a href="{% url 'sensors:online-index' identyficator=identyficator name=item %}">{{ item|modify_name }}</a></td>
            <td class="collapse" id="collapseColumn">{{ address }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
